* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #ddd5d5;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #2F2F33;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 80vw;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search input {
  color: var(--text-color);
  width: 30vw;
  height: 5vh;
  background: #06181C;
  border-radius: 5px;  
}

.search button {
  background: #065E7C;
  border-radius: 5px;

  width: 10vw;
  height: 5vh;
  border: none;

  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1)
}

.search div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.search div img {
  background-color: white;
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  border: 1.5px solid #4A808C;
  border-radius: 1.5rem;

  box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: #092D38;
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table th:first-child {
  border-top-left-radius: 15px;
}

table th:last-child {
  border-top-right-radius: 15px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

table tr:nth-child(even) {
  background: rgba(6, 22, 27, 0.5);
}

table tr:nth-child(odd) {
  background: #06181C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user div {
  display: flex;
  align-items: center;
  gap: 1rem;
}


td.user div img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user div a {
  text-decoration: none;
}

td.user div a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: red;

  cursor: pointer;
}

.empty_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 50vh;

  gap: 4rem;
}